/* header animation */

a {
  color: #6d5dfc;
  text-decoration: none;
  
}

 .header-blog .container {
  position: relative;
  height: 100%;
} 

.header-blog, .stats, footer, .video, .call-to-action {
  background-image: url("https://3.bp.blogspot.com/-04vqcpHNiuo/W0x2THLFZXI/AAAAAAAAOl8/DUvOAykZU9Q0rVaRw4nFTWQM-d8__k-agCLcBGAs/s1600/dresscounter.jpg");
} 

.header-blog { 
  height: 60vh; 
  padding-top: 100px; 
  margin-top:90px;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0 15px 30px 0 rgba(5, 16, 44, .15); 
  box-shadow: 0 15px 30px 0 rgba(5, 16, 44, .15);
}


 .bg-animation { 
  -webkit-animation: bg-animation 25s ease-in-out infinite;
  animation: bg-animation 25s ease-in-out infinite;
} *


 header{
  display:block;
} 

.header-blog .container {
  position: relative;
  height: 100%;
} 

.header-row {
  height: 100%;
  
}

 .white {
  color: #d8dae2;
}
.h1, h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

.white-link {
  font-weight: bold;
  opacity: .7;
  color: #F7F8FC;
  transition: .4s;
  -webkit-transition: .4s;
}

.white-link:hover {
  opacity: 1;
  color: #F7F8FC;
}

@-webkit-keyframes bg-animation {
    0% {
        background-position: top;
    }

    50% {
        background-position: bottom;
    }
    100% {
        background-position: top;
    }
}

@keyframes bg-animation {
    0% {
        background-position: top;
    }

    50% {
        background-position: bottom;
    }
    100% {
        background-position: top;
    }
} 

/*SWITCH*/

:root {
  --primary-light: #8abdff;
  --primary: #6d5dfc;
  --primary-dark: #5b0eeb; 
  --white: #FFFFFF;
  --greyLight-1: #E4EBF5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
}





/*  SWITCH  */
/* .switch {
  grid-column: 1/2;
  display: grid;
  grid-template-columns: repeat(2, -webkit-min-content);
  grid-template-columns: repeat(2, min-content);
  grid-gap: 3rem;
  justify-self: center;
}
.switch input {
  display: none;
}
.switch__1 {
  width: 6rem;
}
.switch__1 label {
  display: flex;
  align-items: center;
  width: 100%;
  height: 3rem;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  background: rgba(255, 255, 255, 0);
  position: relative;
  cursor: pointer;
  border-radius: 1.6rem;
}
.switch__1 label::after {
  content: "";
  position: absolute;
  left: 0.4rem;
  width: 2.1rem;
  height: 2.1rem;
  border-radius: 50%;
  background: var(--greyDark);
  transition: all 0.4s ease;
}
.switch__1 label::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: linear-gradient(330deg, var(--primary-dark) 0%, var(--primary) 50%, var(--primary-light) 100%);
  opacity: 0;
  transition: all 0.4s ease;
}
.switch input:checked ~ label::before {
  opacity: 1;
}
.switch input:checked ~ label::after {
  left: 57%;
  background: var(--greyLight-1);
} */




.light {
  background-color: #cbcbd0d6; /* white */
  color: #212529; /* dark gray */
}


.navbar {
  background-color: #343a40; /* dark gray */
  color: #fff; /* white */
}


/* .switch__1 {
  background-color: #0d6efd; /* blue /
  border-color: #0d6efd; /* blue /
  color: #fff; /* white 
}*/
 





  
  

  

  

  /* magic card */

  @property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }
  
  :root {
    --card-height: 65vh;
    --card-width: calc(var(--card-height) / 1.5);
  }
  
  
 .card-body {
    min-height: 10vh;
    background: #6f7070d0;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
  }

  .card-title {
    color: darkmagenta;
  }
  
  
  /* .card {
    background: #191c29;
    width: var(--card-width);
    height: var(--card-height);
    padding: 3px;
    position: relative;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 1.5em;
    color: rgb(88 199 250 / 0%);
    cursor: pointer;
    font-family: cursive;
  } */
  
  .card:hover {
    color: rgb(3, 3, 3);
    transition: color 1s; 
  }
  .card:hover:before, .card:hover:after {
    animation: none;
    opacity: 0;
  }
  
  
  .card::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 2.5s linear infinite;
  }
  
  .card::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
  }
  
  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }
  
  .a-card {
    color: #212534;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 2rem;
  }

  /* header slide */

  

/* Please ❤ this if you like it! */


/* ======================================== * 
		        BEST VIEWED FULLSCREEN
   https://codepen.io/ig_design/full/MRbJWW
 * ======================================== */


/*-----------------------------------*\ 
  #style.css
\*-----------------------------------*/

/**
 * copyright 2022 @codewithsadee 
 */





/*-----------------------------------*\ 
  #CUSTOM PROPERTY
\*-----------------------------------*/

/* 
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
*,
*:after,
*:before {
  box-sizing: border-box;
}

:root {
  --c-text-primary: #191919;
  --c-text-secondary: #737374;
  --c-border-primary: #ccc;
  --c-bg-body: #ccc;
  --c-bg-primary: #fff;
  --c-bg-secondary: #d4d8dd;
  --c-bg-button: #fff;
  --slider-shadow: inset 0 1px 1px #ddd, 0 2px 3px #ccc;
}
:root.dark-theme {
  --c-text-primary: #eee;
  --c-text-secondary: #d3d5db;
  --c-border-primary: #454545;
  --c-bg-primary: #323339;
  --c-bg-secondary: #222128;
  --c-bg-button: #494a50;
  --slider-shadow: inset 0 1px 1px #767676;
}
:root.black-theme {
  --c-text-primary: #edeeef;
  --c-text-secondary: #d4d7e1;
  --c-border-primary: #323232;
  --c-bg-primary: #1b1d23;
  --c-bg-secondary: #000001;
  --c-bg-button: #343844;
  --slider-shadow: inset 0 1px 1px #555;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  align-items: flex-end;
  /* justify-content: center; 
  background-color: var(--c-bg-body);
  color: var(--c-text-primary);
}

.menu {
  width: 100%;
  height: 2000px;*/
  /* max-width: 2820px;
  background-color: var(--c-bg-primary);
  transition: background-color 0.15s ease;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.05), 0 -4px 16px rgba(0, 0, 0, 0.1);
}

.menu-header {
  padding: 1rem;
}

.menu-header-title {
  font-size: 0.875rem;
  color: var(--c-text-secondary);
  margin-bottom: 0.375rem;
  font-weight: 500;
}

.theme-switcher {
  background-color: var(--c-bg-secondary);
  border-radius: 10px;
  display: flex;
  padding: 0 3px;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin-top: 20px;
}
.theme-switcher .slider {
  display: block;
  position: absolute;
  z-index: 1;
  width: calc((100% - 6px) / 3);
  top: 3px;
  transform: translatex(-110%);
  bottom: 3px;
  border-radius: 6px;
  transition: 0.15s ease, transform 0.25s ease-out;
  background-color: var(--c-bg-button);
  box-shadow: var(--slider-shadow);
}
.theme-switcher input {
  display: none;
}
.theme-switcher input:nth-of-type(1):checked ~ .slider {
  transform: translateX(0);
}
.theme-switcher input:nth-of-type(2):checked ~ .slider {
  transform: translateX(100%);
}
.theme-switcher input:nth-of-type(3):checked ~ .slider {
  transform: translateX(200%);
}
.theme-switcher label {
  position: relative;
  z-index: 2;
  width: calc(100% / 3);
  color: var(--c-text-secondary);
}
.theme-switcher label span {
  padding: 8px 0;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
.theme-switcher label svg {
  display: inline-block;
  margin-right: 0.5rem;
  width: 20px;
}

.menu-body {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  border-top: 1px solid var(--c-border-primary);
  transition: border-color 0.15s ease;
}
.menu-body a {
  text-decoration: none;
  color: inherit; 
  display: flex;
  align-items: center; 
  padding: 0.625rem 0.5rem;
  border-radius: 4px;
  font-weight: 500;
  transition: 0.15s ease;
}
.menu-body a svg {
  margin-right: 1rem;
  color: var(--c-text-secondary);
  transition: color 0.15s ease;
}
.menu-body a:hover {
  background-color: var(--c-bg-secondary);
}

 */
 
/*-----------------------------------*\ 
  #CUSTOM PROPERTY
\*-----------------------------------*/

@charset "UTF-8";
:root {
  --dark-bg: #101214;
  --dark-border: #22272B;
  --dark-surface: #161A1D;
  --dark-text-primary: #DEE4EA;
  --dark-text-secondary: #738496;
  --dark-primary: #1D7AFC;
  --dark-text-inverse: #FFFFFF;
  --sunset-bg: #151c19;
  --sunset-border: #424f4a;
  --sunset-surface: #2f3834;
  --sunset-text-primary: #ecd2c5;
  --sunset-text-secondary: #C0AB92;
  --sunset-primary: #C0AB92;
  --sunset-text-inverse: #151c19;
  --sunrise-bg: #ecd2c5;
  --sunrise-border: #d7c9c6;
  --sunrise-surface: #f3e8e5;
  --sunrise-text-primary: #4f2733;
  --sunrise-text-secondary: #685844;
  --sunrise-primary: #a04d66;
  --sunrise-text-inverse: #f3e8e5;
  --light-bg: #F7F8F9;
  --light-border: #F1F2F4;
  --light-surface: #FFFFFF;
  --light-text-primary: #091E42;
  --light-text-secondary: #626F86;
  --light-primary: #1D7AFC;
  --light-text-inverse: #FFFFFF;
  --bg: var(--dark-bg);
  --border: var(--dark-border);
  --surface: var(--dark-surface);
  --text-primary: var(--dark-text-primary);
  --text-secondary: var(--dark-text-secondary);
  --primary: var(--dark-primary);
  --text-inverse: var(--dark-text-inverse);
}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font-size: 62.5%;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  /* font-size: 1.6rem;
  font-family: "Figtree", system-ui, sans-serif;
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 1.2rem; */
  background: var(--bg);
  color: var(--text-secondary);
}

.c-card {
  width: 100%;
  max-width: 650px;
  border: 1px solid var(--border);
  border-radius: 1.6rem;
  padding: 3.2rem;
  background: var(--surface);
  position: relative;
  box-shadow: 0.3px 0.5px 0.7px rgba(0, 0, 0, 0.08), 0.8px 1.6px 2px -0.8px rgba(0, 0, 0, 0.08), 2.1px 4.1px 5.2px -1.7px rgba(0, 0, 0, 0.08), 5px 10px 12.6px -2.5px rgba(0, 0, 0, 0.08);
}
.c-card__title {
  margin: 0 0 0.8rem;
  padding: 0;
  line-height: 1.2;
  font-size: 4rem;
  color: var(--text-primary);
}
.c-card__description {
  margin: 0;
  padding: 0;
  line-height: 150%;
  font-size: 2rem;
  color: var(--text-secondary);
}

.c-button {
  display: inline-flex;
  padding: 1.2rem 2rem;
  background: var(--primary);
  border-radius: 0.8rem;
  line-height: 1;
  cursor: pointer;
  color: var(--text-inverse);
  font-weight: 700;
  user-select: none;
  position: relative;
  transition: all 120ms ease-out;
}
.c-button:hover, .c-button:focus {
  outline: none;
  transform: scale(1.03);
}

.c-theme {
  position: absolute;
  top: 2.4rem;
  right: 2.4rem;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background: transparent;
  color: var(--text-primary);
  border: 1px solid transparent;
  border-radius: 0.8rem;
  padding: 0.4rem;
  transition: all 120ms ease-out;
}
.c-theme:hover, .c-theme:focus {
  border-color: var(--border);
}
.c-theme:after, .c-theme:before {
  content: "";
  position: absolute;
  z-index: 10;
}
.c-theme:after {
  top: 0;
  left: 0;
  right: 0;
  height: 0.8rem;
  background: linear-gradient(to bottom, var(--surface), transparent);
}
.c-theme:before {
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.8rem;
  background: linear-gradient(to top, var(--surface), transparent);
}
.c-theme:focus {
  outline: none;
}
.c-theme__grid {
  position: relative;
  width: 3.2rem;
  transition: all 240ms ease-out;
}
.c-theme svg {
  width: 3.2rem;
  height: 3.2rem;
}
.c-theme svg:focus {
  outline: none;
}

.c-box {
  display: flex;
  width: 100%;
  flex-direction: column;
  background: var(--bg);
  color: var(--text-secondary);
  position: relative;
  padding: 1.6rem;
  border-radius: 1.2rem;
  border: 1px solid var(--border);
  user-select: none;
  cursor: pointer;
  transition: all 120ms ease-out;
}
.c-box:hover, .c-box:focus {
  transform: scale(1.03);
}
.c-box__title {
  display: flex;
  align-items: center;
  width: 100%;
}
.c-box__icon {
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 0.4rem;
}
.c-box__swatches {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.8rem;
}
.c-box--active {
  outline: 4px solid var(--primary);
}
.c-box--active:after {
  content: "✓";
  position: absolute;
  top: -1.2rem;
  right: -1.2rem;
  height: 2.4rem;
  width: 2.4rem;
  background: var(--primary);
  border-radius: 999px;
  color: var(--text-inverse);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.c-swatch {
  width: 2rem;
  height: 2rem;
  display: inline-block;
  border-radius: 999px;
  border: 1px solid var(--border);
  margin-right: -0.8rem;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 0px 0px 1px rgba(0, 0, 0, 0.08);
}

.c-theme-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.6rem;
  /* margin: 3.2rem 0; */
}
@media (max-width: 700px) {
  .c-theme-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}



