
/* Stile del dark-mode switch */
.dark-mode-switch {
    display: flex;
    align-items: center;
  }
  
  
  .switch-label {
    margin-right: 1rem;
  }
  
  
  .switch {
    position: relative;
    display: inline-block;
    width: 4rem;
    height: 2rem;
  }
  
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  
  .slider:before {
    position: absolute;
    content: "";
    height: 1.4rem;
    width: 1.4rem;
    left: .3rem;
    bottom: .3rem;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  
  input:checked + .slider {
    background-color: #000;
  }
  
  
  input:focus + .slider {
    box-shadow: 0 0 1px #000;
  }
  
  
  input:checked + .slider:before {
    -webkit-transform: translateX(1.6rem);
    -ms-transform: translateX(1.6rem);
    transform: translateX(1.6rem);
  }
  
  
  /* Stile del dark mode attivato */
  body.dark {
    background-color: #1a1a1a !important;
    color: white !important;
  }